In [1]:
import yfinance as yf

In [2]:
bist=yf.Ticker("SAHOL.IS")

In [3]:
bist.history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-09-02 00:00:00+03:00,88.400002,92.900002,88.400002,92.199997,23066460,0.0,0.0
2024-09-03 00:00:00+03:00,92.199997,93.699997,91.750000,93.000000,12200252,0.0,0.0
2024-09-04 00:00:00+03:00,91.750000,94.250000,91.500000,94.250000,14323104,0.0,0.0
2024-09-05 00:00:00+03:00,94.300003,94.699997,93.150002,93.599998,10470804,0.0,0.0
2024-09-06 00:00:00+03:00,93.599998,95.449997,92.699997,93.800003,13262389,0.0,0.0
2024-09-09 00:00:00+03:00,92.699997,94.000000,92.349998,93.000000,10775044,0.0,0.0
2024-09-10 00:00:00+03:00,93.099998,95.500000,92.000000,93.300003,18279515,0.0,0.0
2024-09-11 00:00:00+03:00,93.000000,93.099998,88.599998,88.599998,19472365,0.0,0.0
2024-09-12 00:00:00+03:00,89.900002,90.599998,86.150002,90.599998,14531411,0.0,0.0
2024-09-13 00:00:00+03:00,91.000000,91.199997,87.900002,91.099998,17405906,0.0,0.0
2024-09-16 00:00:00+03:00,90.900002,92.500000,90.349998,91.000000,11525981,0.0,0.0
2024-09-17 00:00:00+03:00,91.349998,94.349998,91.349998,93.599998,8569538,0.0,0.0
2024-09-18 00:00:00+03:00,93.300003,96.949997,92.500000,96.199997,17032032,0.0,0.0
2024-09-19 00:00:00+03:00,97.150002,99.400002,96.400002,99.400002,15860246,0.0,0.0
2024-09-20 00:00:00+03:00,99.349998,100.900002,98.150002,100.000000,13664096,0.0,0.0
2024-09-23 00:00:00+03:00,100.599998,101.000000,98.150002,99.000000,9804512,0.0,0.0
2024-09-24 00:00:00+03:00,99.349998,103.000000,98.550003,101.000000,18624262,0.0,0.0
2024-09-25 00:00:00+03:00,100.500000,102.000000,99.199997,99.800003,14639214,0.0,0.0
2024-09-26 00:00:00+03:00,100.300003,102.099998,98.699997,99.750000,16187718,0.0,0.0
2024-09-27 00:00:00+03:00,101.099998,101.300003,99.150002,101.000000,15695242,0.0,0.0
2024-09-30 00:00:00+03:00,100.300003,100.699997,96.900002,97.349998,17792364,0.0,0.0

In [4]:
bist.history(period="1mo").to_csv("sabancıVeri.csv")

In [5]:
lister=[]

for el in bist.info.keys():
    lister.append(el)

In [6]:
import pandas as pd

df=pd.DataFrame({"Gelen veriler": lister})
df

         Gelen veriler
0             address1
1             address2
2                 city
3                  zip
4              country
..                 ...
98   operatingCashflow
99       revenueGrowth
100   operatingMargins
101  financialCurrency
102   trailingPegRatio

[103 rows x 1 columns]

In [7]:
df.to_csv("veriKategori.csv")