In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [2]:
import os

def get_csvs(dir:str):
    dirList=os.listdir(dir)
    endResult=[]
    for dire in dirList:
        if(os.path.join(dir,dire).endswith(".csv")):
            endResult.append(dir+"/"+dire)
    return endResult

In [3]:
allDirs=get_csvs("./StandardizedData")

In [4]:
indexes=get_csvs("./StandardizedBIST")

In [5]:
indexes

['./StandardizedBIST/XBANK.IS.csv',
 './StandardizedBIST/XU030.IS.csv',
 './StandardizedBIST/XU100.IS.csv',
 './StandardizedBIST/XUSIN.IS.csv']

In [24]:
indexesDf=[]
for i in range(len(indexes)):
    indexesDf.append(pd.read_csv(indexes[i]).drop(columns=["Volume", "Days_Between", "Pct_Change"]))

indexesDf

[                           Date       Open       High        Low      Close
 0     2019-10-22 00:00:00+03:00   1374.352   1393.707   1369.435   1384.387
 1     2019-10-23 00:00:00+03:00   1403.119   1420.286   1398.983   1415.858
 2     2019-10-24 00:00:00+03:00   1428.434   1445.931   1415.571   1420.343
 3     2019-10-25 00:00:00+03:00   1415.880   1424.049   1403.046   1407.141
 4     2019-10-28 00:00:00+03:00   1410.077   1411.775   1400.968   1400.968
 ...                         ...        ...        ...        ...        ...
 1234  2024-10-16 00:00:00+03:00  12851.500  12986.300  12647.100  12956.800
 1235  2024-10-17 00:00:00+03:00  12922.700  13023.400  12750.300  12780.000
 1236  2024-10-18 00:00:00+03:00  12798.300  12869.400  12149.500  12181.600
 1237  2024-10-21 00:00:00+03:00  12201.300  12260.900  11790.600  11806.600
 1238  2024-10-22 00:00:00+03:00  11839.230  12293.730  11768.530  12120.230

 [1239 rows x 5 columns],
                            Date       Open       High       Low      Close
 0     2019-10-22 00:00:00+03:00   1206.869   1218.142  1203.312   1211.587
 1     2019-10-23 00:00:00+03:00   1222.849   1236.122  1220.191   1235.317
 2     2019-10-24 00:00:00+03:00   1243.815   1253.240  1238.203   1241.898
 3     2019-10-25 00:00:00+03:00   1240.519   1245.829  1237.600   1239.519
 4     2019-10-28 00:00:00+03:00   1241.243   1243.492  1232.810   1232.810
 ...                         ...        ...        ...       ...        ...
 1234  2024-10-16 00:00:00+03:00   9895.900  10031.600  9804.200  10018.800
 1235  2024-10-17 00:00:00+03:00  10005.800  10119.800  9959.900  10035.200
 1236  2024-10-18 00:00:00+03:00  10052.100  10119.100  9754.400   9767.000
 1237  2024-10-21 00:00:00+03:00   9770.600   9781.500  9567.200   9583.800
 1238  2024-10-22 00:00:00+03:00   9610.940   9884.450  9599.260   9812.540

 [1239 rows x 5 columns],
                            Date      Open      High       Low     Close
 0     2019-10-22 00:00:00+03:00   975.309   983.675   972.680   978.864
 1     2019-10-23 00:00:00+03:00   987.993   998.510   986.372   997.852
 2     2019-10-24 00:00:00+03:00  1004.472  1012.388  1000.525  1003.456
 3     2019-10-25 00:00:00+03:00  1002.721  1006.730  1000.433  1002.160
 4     2019-10-28 00:00:00+03:00  1003.854  1005.425   998.383   998.383
 ...                         ...       ...       ...       ...       ...
 1244  2024-10-16 00:00:00+03:00  8849.100  8963.800  8779.300  8956.000
 1245  2024-10-17 00:00:00+03:00  8948.600  9060.100  8927.100  9002.300
 1246  2024-10-18 00:00:00+03:00  9018.600  9070.000  8783.500  8793.600
 1247  2024-10-21 00:00:00+03:00  8798.300  8807.900  8642.200  8654.400
 1248  2024-10-22 00:00:00+03:00  8677.750  8913.540  8676.760  8846.040

 [1249 rows x 5 columns],
                            Date       Open       High        Low      Close
 0     2019-10-22 00:00:00+03:00   1126.292   1135.508   1122.757   1129.256
 1     2019-10-23 00:00:00+03:00   1137.921   1153.548   1136.496   1152.561
 2     2019-10-24 00:00:00+03:00   1159.604   1165.960   1153.729   1158.099
 3     2019-10-25 00:00:00+03:00   1159.363   1164.297   1156.165   1163.014
 4     2019-10-28 00:00:00+03:00   1166.302   1167.115   1155.271   1155.271
 ...                         ...        ...        ...        ...        ...
 1234  2024-10-16 00:00:00+03:00  11751.200  11873.400  11689.000  11873.300
 1235  2024-10-17 00:00:00+03:00  11876.600  12074.000  11858.000  12042.100
 1236  2024-10-18 00:00:00+03:00  12066.200  12155.200  11882.000  11896.100
 1237  2024-10-21 00:00:00+03:00  11916.000  11942.600  11755.800  11775.200
 1238  2024-10-22 00:00:00+03:00  11801.810  12008.130  11765.460  11959.330

 [1239 rows x 5 columns]]

In [25]:
X100=pd.read_csv(indexes[0]).drop(columns=["Volume", "Days_Between",	"Pct_Change"])
X100

                           Date       Open       High        Low      Close
0     2019-10-22 00:00:00+03:00   1374.352   1393.707   1369.435   1384.387
1     2019-10-23 00:00:00+03:00   1403.119   1420.286   1398.983   1415.858
2     2019-10-24 00:00:00+03:00   1428.434   1445.931   1415.571   1420.343
3     2019-10-25 00:00:00+03:00   1415.880   1424.049   1403.046   1407.141
4     2019-10-28 00:00:00+03:00   1410.077   1411.775   1400.968   1400.968
...                         ...        ...        ...        ...        ...
1234  2024-10-16 00:00:00+03:00  12851.500  12986.300  12647.100  12956.800
1235  2024-10-17 00:00:00+03:00  12922.700  13023.400  12750.300  12780.000
1236  2024-10-18 00:00:00+03:00  12798.300  12869.400  12149.500  12181.600
1237  2024-10-21 00:00:00+03:00  12201.300  12260.900  11790.600  11806.600
1238  2024-10-22 00:00:00+03:00  11839.230  12293.730  11768.530  12120.230

[1239 rows x 5 columns]

In [14]:
normStock=pd.read_csv(allDirs[0]).drop(columns=["Pct_Change"])
normStock

,Date,Open,High,Low,Close,Volume,Days_Between
0,2019-10-22 00:00:00+03:00,15.319698,15.388671,15.204743,15.227735,9.558490e+05,1.0
1,2019-10-23 00:00:00+03:00,15.327362,15.358017,15.181751,15.266052,9.225900e+05,1.0
2,2019-10-24 00:00:00+03:00,15.319697,15.480636,15.289043,15.403998,8.322950e+05,1.0
3,2019-10-25 00:00:00+03:00,15.434652,15.557271,15.342689,15.449980,9.073480e+05,1.0
4,2019-10-28 00:00:00+03:00,15.419328,15.480638,15.174088,15.212408,9.352712e+05,3.0
...,...,...,...,...,...,...,...
1247,2024-10-16 00:00:00+03:00,181.000000,181.700000,176.700000,181.200000,2.917632e+06,1.0
1248,2024-10-17 00:00:00+03:00,181.200000,184.800000,180.200000,182.900000,2.777357e+06,1.0
1249,2024-10-18 00:00:00+03:00,183.100000,184.500000,177.800000,178.900000,2.688018e+06,1.0
1250,2024-10-21 00:00:00+03:00,178.900000,180.700000,176.200000,176.200000,2.357920e+06,3.0
1251,2024-10-22 00:00:00+03:00,177.400000,185.700000,175.700000,184.200000,2.311129e+06,1.0

In [12]:
X100.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1249 non-null   object
 1   Open    1249 non-null   float64
 2   High    1249 non-null   float64
 3   Low     1249 non-null   float64
 4   Close   1249 non-null   float64
dtypes: float64(4), object(1)
memory usage: 48.9+ KB

In [19]:
pd.read_csv(allDirs[5])

,Date,Open,High,Low,Close,Volume,Days_Between,Pct_Change
0,2023-01-18 00:00:00+03:00,13.418217,13.418217,13.418217,13.418217,8.715167e+04,1.0,0.000000
1,2023-01-19 00:00:00+03:00,14.755158,14.755158,14.755158,14.755158,1.519542e+05,1.0,0.099636
2,2023-01-20 00:00:00+03:00,16.228722,16.228722,16.228722,16.228722,2.171178e+06,1.0,0.099868
3,2023-01-23 00:00:00+03:00,17.848670,17.848670,17.848670,17.848670,2.282364e+06,3.0,0.099820
4,2023-01-24 00:00:00+03:00,19.614992,19.614992,19.614992,19.614992,2.426683e+06,1.0,0.098961
...,...,...,...,...,...,...,...,...
432,2024-10-16 00:00:00+03:00,67.000000,69.600000,66.650000,69.600000,7.558798e+06,1.0,0.029586
433,2024-10-17 00:00:00+03:00,69.150000,69.850000,68.550000,69.450000,7.263153e+06,1.0,-0.002155
434,2024-10-18 00:00:00+03:00,69.300000,70.750000,67.550000,67.850000,1.190745e+07,1.0,-0.023038
435,2024-10-21 00:00:00+03:00,67.900000,68.550000,67.300000,67.600000,1.280370e+07,3.0,-0.003685
436,2024-10-22 00:00:00+03:00,67.600000,73.500000,67.600000,71.250000,1.491824e+07,1.0,0.053994

In [28]:
merged_df = pd.merge(normStock, X100, on='Date', how='inner')
merged_df

,Date,Open_x,High_x,Low_x,Close_x,Volume,Days_Between,Open_y,High_y,Low_y,Close_y
0,2019-10-22 00:00:00+03:00,15.319698,15.388671,15.204743,15.227735,9.558490e+05,1.0,1374.352,1393.707,1369.435,1384.387
1,2019-10-23 00:00:00+03:00,15.327362,15.358017,15.181751,15.266052,9.225900e+05,1.0,1403.119,1420.286,1398.983,1415.858
2,2019-10-24 00:00:00+03:00,15.319697,15.480636,15.289043,15.403998,8.322950e+05,1.0,1428.434,1445.931,1415.571,1420.343
3,2019-10-25 00:00:00+03:00,15.434652,15.557271,15.342689,15.449980,9.073480e+05,1.0,1415.880,1424.049,1403.046,1407.141
4,2019-10-28 00:00:00+03:00,15.419328,15.480638,15.174088,15.212408,9.352712e+05,3.0,1410.077,1411.775,1400.968,1400.968
...,...,...,...,...,...,...,...,...,...,...,...
1233,2024-10-16 00:00:00+03:00,181.000000,181.700000,176.700000,181.200000,2.917632e+06,1.0,12851.500,12986.300,12647.100,12956.800
1234,2024-10-17 00:00:00+03:00,181.200000,184.800000,180.200000,182.900000,2.777357e+06,1.0,12922.700,13023.400,12750.300,12780.000
1235,2024-10-18 00:00:00+03:00,183.100000,184.500000,177.800000,178.900000,2.688018e+06,1.0,12798.300,12869.400,12149.500,12181.600
1236,2024-10-21 00:00:00+03:00,178.900000,180.700000,176.200000,176.200000,2.357920e+06,3.0,12201.300,12260.900,11790.600,11806.600
1237,2024-10-22 00:00:00+03:00,177.400000,185.700000,175.700000,184.200000,2.311129e+06,1.0,11839.230,12293.730,11768.530,12120.230

In [29]:

merged_df=pd.merge(merged_df, indexesDf[1] , on='Date', how='inner')
merged_df

,Date,Open_x,High_x,Low_x,Close_x,Volume,Days_Between,Open_y,High_y,Low_y,Close_y,Open,High,Low,Close
0,2019-10-22 00:00:00+03:00,15.319698,15.388671,15.204743,15.227735,9.558490e+05,1.0,1374.352,1393.707,1369.435,1384.387,1206.869,1218.142,1203.312,1211.587
1,2019-10-23 00:00:00+03:00,15.327362,15.358017,15.181751,15.266052,9.225900e+05,1.0,1403.119,1420.286,1398.983,1415.858,1222.849,1236.122,1220.191,1235.317
2,2019-10-24 00:00:00+03:00,15.319697,15.480636,15.289043,15.403998,8.322950e+05,1.0,1428.434,1445.931,1415.571,1420.343,1243.815,1253.240,1238.203,1241.898
3,2019-10-25 00:00:00+03:00,15.434652,15.557271,15.342689,15.449980,9.073480e+05,1.0,1415.880,1424.049,1403.046,1407.141,1240.519,1245.829,1237.600,1239.519
4,2019-10-28 00:00:00+03:00,15.419328,15.480638,15.174088,15.212408,9.352712e+05,3.0,1410.077,1411.775,1400.968,1400.968,1241.243,1243.492,1232.810,1232.810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,2024-10-16 00:00:00+03:00,181.000000,181.700000,176.700000,181.200000,2.917632e+06,1.0,12851.500,12986.300,12647.100,12956.800,9895.900,10031.600,9804.200,10018.800
1234,2024-10-17 00:00:00+03:00,181.200000,184.800000,180.200000,182.900000,2.777357e+06,1.0,12922.700,13023.400,12750.300,12780.000,10005.800,10119.800,9959.900,10035.200
1235,2024-10-18 00:00:00+03:00,183.100000,184.500000,177.800000,178.900000,2.688018e+06,1.0,12798.300,12869.400,12149.500,12181.600,10052.100,10119.100,9754.400,9767.000
1236,2024-10-21 00:00:00+03:00,178.900000,180.700000,176.200000,176.200000,2.357920e+06,3.0,12201.300,12260.900,11790.600,11806.600,9770.600,9781.500,9567.200,9583.800
1237,2024-10-22 00:00:00+03:00,177.400000,185.700000,175.700000,184.200000,2.311129e+06,1.0,11839.230,12293.730,11768.530,12120.230,9610.940,9884.450,9599.260,9812.540

In [21]:
irregular=pd.read_csv(allDirs[5]).drop(columns=["Pct_Change"])
merged_df2 = pd.merge(irregular, X100, on='Date', how='inner')
merged_df2

,Date,Open_x,High_x,Low_x,Close_x,Volume,Days_Between,Open_y,High_y,Low_y,Close_y
0,2023-01-18 00:00:00+03:00,13.418217,13.418217,13.418217,13.418217,8.715167e+04,1.0,5337.20,5424.20,5310.70,5384.20
1,2023-01-19 00:00:00+03:00,14.755158,14.755158,14.755158,14.755158,1.519542e+05,1.0,5371.30,5452.80,5348.70,5422.40
2,2023-01-20 00:00:00+03:00,16.228722,16.228722,16.228722,16.228722,2.171178e+06,1.0,5444.00,5507.70,5426.60,5490.30
3,2023-01-23 00:00:00+03:00,17.848670,17.848670,17.848670,17.848670,2.282364e+06,3.0,5514.00,5569.00,5351.60,5404.40
4,2023-01-24 00:00:00+03:00,19.614992,19.614992,19.614992,19.614992,2.426683e+06,1.0,5397.00,5438.70,5244.20,5366.50
...,...,...,...,...,...,...,...,...,...,...,...
431,2024-10-16 00:00:00+03:00,67.000000,69.600000,66.650000,69.600000,7.558798e+06,1.0,8849.10,8963.80,8779.30,8956.00
432,2024-10-17 00:00:00+03:00,69.150000,69.850000,68.550000,69.450000,7.263153e+06,1.0,8948.60,9060.10,8927.10,9002.30
433,2024-10-18 00:00:00+03:00,69.300000,70.750000,67.550000,67.850000,1.190745e+07,1.0,9018.60,9070.00,8783.50,8793.60
434,2024-10-21 00:00:00+03:00,67.900000,68.550000,67.300000,67.600000,1.280370e+07,3.0,8798.30,8807.90,8642.20,8654.40
435,2024-10-22 00:00:00+03:00,67.600000,73.500000,67.600000,71.250000,1.491824e+07,1.0,8677.75,8913.54,8676.76,8846.04

In [ ]:
merged_df2=pd.merge(merged_df2, normStock, on='Date', how='inner')

In [34]:
allDirs[1]

'./StandardizedData/AKBNK.IS.csv'

In [36]:
save=False
if(input("Do you want to save the merged dataframes? (y/n)")=="y"):
    save=True

for i in range(len(allDirs)):
    temp=pd.read_csv(allDirs[i]).drop(columns=["Pct_Change"])
    for j in range(len(indexes)):
        temp2=indexesDf[j]
        temp = pd.merge(temp, temp2, on='Date', how='inner',suffixes=('', '_'+str(j)))
    if(save):
        temp.to_csv("./StandardizedAndMerged/"+allDirs[i].split("/")[2],index=False)

In [37]:
temp

,Date,Open,High,Low,Close,Volume,Days_Between,Open_0,High_0,Low_0,...,Low_1,Close_1,Open_2,High_2,Low_2,Close_2,Open_3,High_3,Low_3,Close_3
0,2019-10-22 00:00:00+03:00,0.646781,0.652309,0.641253,0.652309,2.818350e+07,1.0,1374.352,1393.707,1369.435,...,1203.312,1211.587,975.309,983.675,972.680,978.864,1126.292,1135.508,1122.757,1129.256
1,2019-10-23 00:00:00+03:00,0.657837,0.663365,0.646781,0.663365,2.861088e+07,1.0,1403.119,1420.286,1398.983,...,1220.191,1235.317,987.993,998.510,986.372,997.852,1137.921,1153.548,1136.496,1152.561
2,2019-10-24 00:00:00+03:00,0.663365,0.679949,0.652309,0.663365,2.499212e+07,1.0,1428.434,1445.931,1415.571,...,1238.203,1241.898,1004.472,1012.388,1000.525,1003.456,1159.604,1165.960,1153.729,1158.099
3,2019-10-25 00:00:00+03:00,0.663365,0.663365,0.646781,0.663365,2.711898e+07,1.0,1415.880,1424.049,1403.046,...,1237.600,1239.519,1002.721,1006.730,1000.433,1002.160,1159.363,1164.297,1156.165,1163.014
4,2019-10-28 00:00:00+03:00,0.668893,0.668893,0.663365,0.663365,2.624481e+07,3.0,1410.077,1411.775,1400.968,...,1232.810,1232.810,1003.854,1005.425,998.383,998.383,1166.302,1167.115,1155.271,1155.271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232,2024-10-16 00:00:00+03:00,4.050000,4.190000,3.990000,4.070000,7.700599e+07,1.0,12851.500,12986.300,12647.100,...,9804.200,10018.800,8849.100,8963.800,8779.300,8956.000,11751.200,11873.400,11689.000,11873.300
1233,2024-10-17 00:00:00+03:00,4.060000,4.160000,4.060000,4.160000,7.597829e+07,1.0,12922.700,13023.400,12750.300,...,9959.900,10035.200,8948.600,9060.100,8927.100,9002.300,11876.600,12074.000,11858.000,12042.100
1234,2024-10-18 00:00:00+03:00,4.170000,4.190000,4.050000,4.190000,7.844818e+07,1.0,12798.300,12869.400,12149.500,...,9754.400,9767.000,9018.600,9070.000,8783.500,8793.600,12066.200,12155.200,11882.000,11896.100
1235,2024-10-21 00:00:00+03:00,4.150000,4.230000,4.140000,4.150000,7.101958e+07,3.0,12201.300,12260.900,11790.600,...,9567.200,9583.800,8798.300,8807.900,8642.200,8654.400,11916.000,11942.600,11755.800,11775.200
1236,2024-10-22 00:00:00+03:00,4.150000,4.290000,4.150000,4.200000,7.374059e+07,1.0,11839.230,12293.730,11768.530,...,9599.260,9812.540,8677.750,8913.540,8676.760,8846.040,11801.810,12008.130,11765.460,11959.330